@model List<RevisionModel>

@{
    ViewData["Title"] = "ListarServicio";
    Layout = "~/Views/Shared/mecanico/_Layout.cshtml";
}
<div class="containerMainLista">

    <div class="TituloListarServicios">
        <h2>HISTORICO DE REVISIONES</h2>
    </div>

    <div class="card-body containerTable">

        <table class="listaVehiculos2" id="tableId">

            <thead>
                <tr>
                    <th>Nivel aceite</th>
                    <th>Nivel liquido direccion</th>
                    <th>Nivel liquido frenos</th>
                    <th>Nivel refrigerante</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="result">
                        <td>@item.NivelAceite</td>
                        <td>@item.NivelLiquidoDireccion</td>
                        <td>@item.NivelLiquidoFrenos</td>
                        <td>@item.NivelRefrigerante</td>
                        <td><a class="btnEditServicioMecanico" asp-action="EditarRevision" asp-controller="Mecanico" asp-route-idRevision="@item.id_Revision">Editar</a></td>
                    </tr>
                }
            </tbody>

        </table>
        <br />
        <a class="btnEditServicioMecanico" asp-action="ListaServiciosMecanico" asp-controller="Mecanico">Volver</a>
        <span id="message" class="message"></span>
    </div>

    <script>


        const tableResult = document.getElementById('tableId');
        const msg = document.getElementById('message');
        if (tableResult.rows.length <= 1) {
            msg.innerHTML = "No hay Ningun Servicio";

            alert('No hay Servicios')
        }

    </script>


</div>

