@model List<ServicioInnerJoinModel>

@{
    ViewData["Title"] = "ListarServicio";
    Layout = "~/Views/Shared/mecanico/_Layout.cshtml";
}
<div class="containerMainLista">

    <div class="TituloListarServicios">
        <h2>LISTADO DE SERVICIOS</h2>
    </div>
    
    <div class="card-body containerTable">

        <table class="listaVehiculos2" id="tableId">

            <thead>
                <tr>
                    <th>Propietario</th>
                    <th>Mecanico</th>
                    <th>Vehiculo</th>
                    <th>Placa</th>

                    <th>Revisiones</th>
                    <th>Repuestos</th>

                    <th>Soat Poliza</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Agregar Revision</th>
                    <th>Agregar Repuestos</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="result">
                        <td>@item.Propietario</td>
                        <td>@item.Mecanico</td>
                        <td>@item.Vehiculo</td>
                        <td>@item.Licencia</td>

                        <td><a class="btnEditServicioMecanico" asp-action="ListarRevisiones" asp-controller="Mecanico">Registro</a></td>
                        <td><a class="btnEditServicioMecanico" asp-action="ListarRepuestos" asp-controller="Mecanico">Registro</a></td>
                        
                        <td>@item.SoatPoliza</td>
                        <td>@item.Fecha</td>
                        <td>@item.Hora</td>
                        <td><a asp-action="GuardarRevision" asp-controller="Mecanico" asp-route-idServicio="@item.Id_Servicio" class="btnNewServicioMecanico">Agregar</a></td>
                        <td><a asp-action="GuardarRepuesto" asp-controller="Mecanico" asp-route-idServicio="@item.Id_Servicio" class="btnNewServicioMecanico">Agregar</a></td>
                    </tr>
                }
            </tbody>
            
        </table>
        <br>
       
        <span id="message" class="message"></span>
    </div>

    <script>
    

        const tableResult = document.getElementById('tableId');
        const msg = document.getElementById('message');
        if(tableResult.rows.length<=1){
           msg.innerHTML = "No hay Ningun Servicio";

           alert('No hay Servicios')
        }
        
    </script>
    

</div>

