@model List<ServicioInnerJoinModel>

@{
    ViewData["Title"] = "ListarServicio";
    Layout = "~/Views/Shared/mecanico/_Layout.cshtml";
}
<div class="containerMainLista">

    <div class="TituloListarServicios">
        <h1>LISTADO DE SERVICIOS</h1>
        <a class="btnNew"asp-action="GuardarServicio" asp-controller="Mecanico">Agregar Servicio</a>
    </div>
    
    <div class="card-body containerTable">

        <table class="listaVehiculos2" id="tableId">

            <thead>
                <tr>
                    <th>Propietario</th>
                    <th>Mecanico</th>
                    <th>Vehiculo</th>
                    <th>Placa</th>
                    <th>Nivel aceite</th>
                    <th>Nivel liquido direccion</th>
                    <th>Nivel liquido frenos</th>
                    <th>Nivel refrigerante</th>
                    <th>Soat Poliza</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Agregar Revision</th>
                    <th>Agregar Repuestos</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="result">
                        <td>@item.Propietario</td>
                        <td>@item.Mecanico</td>
                        <td>@item.Vehiculo</td>
                        <td>@item.Licencia</td>
                        <td>@item.NivelAceite</td>
                        <td>@item.NivelLiquidoDireccion</td>
                        <td>@item.NivelLiquidoFrenos</td>
                        <td>@item.NivelRefrigerante</td>
                        <td>@item.SoatPoliza</td>
                        <td>@item.Fecha</td>
                        <td>@item.Hora</td>
                        <td><a class="btnNew">Agregar</a></td>
                        <td><a class="btnNew">Agregar</a></td>
                        <td><a class="btnEdit">Editar</a></td>
                        <td><a class="btnDelete">Eliminar</a></td>
                    </tr>
                }
            </tbody>
            <span id="message" class="message"></span>
        </table>
        
    </div>

    <script>
        const tableResult = document.getElementById('tableId');
        const msg = document.getElementById('message');
        if(tableResult.rows.length<=1){
           msg.innerHTML = "No hay resultados";

           alert('No hay resultados')
        }
    </script>


</div>

