@model List<VehiculoModel>
@{
    ViewData["Title"] = "ListarVehiculo";
    Layout = "~/Views/Shared/auxiliar/_Layout.cshtml";
}
<div class=ContainerListaVehiculos>
 
  <h1 class="TituloListarVehiculos">
   LISTADO GENERAL DE VEHICULOS</h1>

    <table class="listaVehiculos">
        <thead>
            <tr>
                <th>Placa</th>
                <th>Tipo</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Capacidad</th>
                <th>Seguro</th>
                <th>Propietario</th>
                <th>Revision</th>
                <th>Estado</th>
            </tr>
        </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@item.Licencia</td>
                <td>@item.Tipo</td>
                <td>@item.Marca</td>
                <td>@item.Modelo</td>
                <td>@item.Capacidad</td>
                <td>SOAT 2021</td>
                <td>@item.id_Propietario</td>
                <td>Jorge Rodriguez</td>
                <td><a href="#">Ver</a></td>
            </tr>
        </tbody>
    } 

    </table>

</div>

