@model List<VehiculoModel>
@{
    ViewData["Title"] = "ListarVehiculo";
    Layout = "~/Views/Shared/auxiliar/_Layout.cshtml";
}
<div class="containerMainLista">

    <div class="TituloListarVehiculos">
        <h2>DETALLE DEL VEHICULO</h2>
    </div>

    <div class="card-body containerTable">

        <table class="TblVehiculosDetalle">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Propietario</th>
                    <th>Placa</th>
                    <th>Tipo</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Capacidad</th>
                    <th>Cilindraje</th>
                    <th>Origen</th>
                    <th>Descripcion</th>
                    <th>SOAT</th>
                    <th>Servicios</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.id_Vehiculo</td>
                        <td>@item.id_Propietario</td>
                        <td>@item.Licencia</td>
                        <td>@item.Tipo</td>
                        <td>@item.Marca</td>
                        <td>@item.Modelo</td>
                        <td>@item.Capacidad</td>
                        <td>@item.Cilindraje</td>
                        <td>@item.PaisOrigen</td>
                        <td>@item.Descripcion</td>
                        <td><a asp-action="ListarSoat" asp-controller="Auxiliar" class="btnEditarVehiculo" asp-route-id_Vehiculo="@item.id_Vehiculo">SOAT</a></td>
                        <td><a asp-action="ListarServicioDetail" asp-controller="Auxiliar" class="btnEditarVehiculo" asp-route-placa="@item.Licencia">Ver</a></td>
                        <td><a asp-action="EditarVehiculo" asp-controller="Auxiliar" class="btnEditarVehiculo" asp-route-id_Vehiculo="@item.id_Vehiculo">Editar</a></td>
                        <td><a asp-action="EliminarVehiculo" asp-controller="Auxiliar" class="btnEliminarVehiculo" asp-route-id_Vehiculo="@item.id_Vehiculo">Eliminar</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-action="GuardarVehiculo" asp-controller="Auxiliar" class="btnCrearNuevo">CREAR NUEVO</a>
    </div>
</div>

